---
import Layout from "../layouts/default.astro";
import { social_medias } from "@/db/Social";
---

<Layout
  title="Fernando López de Lerma Portfolio"
  description="Lorem ipsum dolor sit amet"
  publication_date={new Date()}
  index={true}
  language="en"
>
  <h2 class="text-center w-full">My Social media links</h2>
  <div class="flex flex-wrap gap-4 justify-around md:w-2/3 mx-auto w-full">
    {
      social_medias.map((link: any) => (
        <div class="bg-gradient-to-r from-cyan-300 to-indigo-800 p-1 rounded-md lg:w-1/5 md:mb-12 md:w-1/4 w-full">
          <article class="bg-gradient-to-r from-cyan-300 to-indigo-800 p-1 rounded-md md:h-64 w-full">
            <a href={link.link} class="bg-sky-100 dark:bg-slate-900 dark:text-white flex items-center md:flex-col gap-4 justify-center md:justify-between h-full text-center w-full p-8">
              <img src={link.icon} alt={link.alt} class="w-12 md:w-20 md:m-auto" />
              <h4 class="text-2xl my-auto md:mb-4">{link.alt}</h4>
            </a>
          </article>
        </div>
      ))
    }
  </div>
</Layout>
