---
import HeaderLink from "../global/HeaderLink.astro";
import { Image } from "astro:assets";
import Logo from "../../assets/Logo.svg";
import ButtonDarkMode from "../react/ButtonDarkMode";
import { getCollection } from "astro:content";
import SearchComponent from "../react/SearchComponent";
import MenuIcon from "../../assets/Menu.svg";

// Menu translations

const links_es = [
  {
    link: "Inicio",
    href: "/es",
  },
  {
    link: "Blog",
    href: "/es/blog",
  },
  {
    link: "Proyectos",
    href: "/es/proyectos",
  },
  {
    link: "Redes Sociales",
    href: "/contact",
  },
  {
    link: "Sobre mi",
    href: "/es/sobre-mi",
  },
];

const links_en = [
  {
    link: "Home",
    href: "/",
  },
  {
    link: "Blog",
    href: "/blog",
  },
  {
    link: "Projects",
    href: "/projects",
  },
  {
    link: "Redes Sociales",
    href: "/contact",
  },
  {
    link: "Sobre mi",
    href: "/about",
  },
];

const isNavigatorInSpanish = Astro.url.pathname.includes("/es");
const blog_collection = isNavigatorInSpanish ? "es" : "en";
const Links = isNavigatorInSpanish ? links_es : links_en;

//Get all posts for
const Posts = (await getCollection(blog_collection)).map(
  (post: any, index: number) => {
    const data = post.data;
    return {
      title: data.title,
      description: data.description,
      slug: post.slug,
    };
  }
);
---

<header>
  <div
    class="container mx-auto flex flex-wrap gap-4 justify-between items-center p-4 w-full"
  >
    <a href="/" class="w-auto">
      <Image
        src={Logo}
        alt="A description of my image."
        class="w-12 rounded-lg"
      />
    </a>

    <input type="checkbox" class="peer hidden" id="navbar-open" />
    <label
      class="bg-gradient-to-r from-teal-500 to-green-900 peer-checked:from-teal-900 peer-checked:to-cyan-500 bottom-16 border-4 fixed md:hidden opacity-90 p-3 right-8 rounded-full z-10"
      for="navbar-open"
    >
      <span class="sr-only">Open main menu</span>
      <img src={MenuIcon.src} alt="Open menu" class="w-12" />
    </label>

    <nav
      class="bottom-40 bg-gradient-to-r from-cyan-500 to-indigo-900 duration-1000 flex flex-col gap-4 fixed md:relative mr-[calc(-100%)] md:bg-none md:border-none md:bottom-auto md:flex-row md:mt-0 md:mb-auto md:mr-0 md:opacity-100 md:p-4 md:right-auto md:text-left md:z-0 py-4 transition-all opacity-90 peer-checked:mr-0 text-right right-8 rounded-xl z-10"
    >
      {
        Links.map((link) => {
          return (
            <HeaderLink class="block md:p-0 px-4" href={link.href}>
              {link.link}
            </HeaderLink>
          );
        })
      }
    </nav>
    <SearchComponent client:load posts={Posts} />
    <ButtonDarkMode client:load />
    <div class="flex gap-4 items-center justify-center md:w-auto w-full">
      <a href="/" class:list={[{ "font-bold": !isNavigatorInSpanish }]}> EN</a> |
      <a href="/es" class:list={[{ "font-bold": isNavigatorInSpanish }]}> ES</a>
    </div>
  </div>
</header>
